.imageBox{
    display: flex;
    position: absolute;
    top:0;
    right: 0;
    height: 640px;
    width: 360px;
    z-index: -10;
    align-items: flex-end;
}

.image {
    height: 30%;
    width: 100%; 
}