.return{
  display: flex;
  text-align: center;
}

.hourMap {
  display: flex;
  height: 25%;
  width: 100%;
  border-top-style: solid;
  border-color: white;
  color: white;
  flex-direction: column;
  text-align: center;
}

.hourBox {
  height: 98%;
  width: 18%;
  margin: 1%;
}
