.locationBox {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.location{
    font-size: 16px;
    color: white
}

